#account-page.account-page
  .account-page__account-header
    %h1
      %a.furima-logo(href="http//furima.tokyo/")
        = image_tag src="/assets/logo.png", size: "185x49"
  .account-page__main.clearfix
    .account-page__main.account-page__header
      %h5 ログイン画面
    .account-page__main.user-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login-no-account
          %p アカウントをお持ちではない方はこちらへ
          %a.login-no-account__sign__in{href:"#"}
            新規会員登録
        .field-account
          .google
            = link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post, class: "google__account"
            = icon('fab','google')
          .facebook
            = link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post, class: "facebook__account"
            = icon('fab','facebook-square')
        .field
          .field-label
            = f.label :メール
            %span 必須
          .field-input
            = f.text_field :email, placeholder: 'PC/携帯どちらでも可'
          .field
            .field-label
              = f.label :パスワード
              %span 必須
              %i (英数字8文字以上)
            .field-input
              = f.password_field :password, autocomplete: "off"
          .actions
            = f.submit "ログイン", class: 'btn'
  .account-page__account-bottom
    %nav
      %ul.bottom__principle
        %li 
          %a.bottom__privacy{href: "#"}
            プライバシーポリシー
        %li
          %a.bottom__rule{href: "#"}
            フリマ利用規約
        %li
          %a.bottom__notation{href:"#"}
            特定商取引に関する表記
      %h4.logo__bottom
        = image_tag src="/assets/logo-white.png", size: "185x49"