.header2
  .header2__main
    .header2__main--left
      = link_to image_tag("logo/logo.png",class: "logo"),'#'
    .header2__main--right
      %input.searchBox{:name => "key", :placeholder => "キーワードから探す"}/
      .header2__main--right__box
        = link_to image_tag("icon/icon-search 1.png",class: "icon"),'#'
  .header2__under
    %ul.dropdwn
      %li
        カテゴリ
        %ul
          - @category.each do |parent|
            %li
              = link_to parent.name, "#", class: "touch"
              %ul
                - parent.children.each do |child| 
                  %li
                    = link_to child.name, "#", class: "touch"
                    %ul
                      - child.children.each do |grandchild|
                        %li
                          = link_to grandchild.name, "#", class: "touch"
      %li
        ブランド
      -# %li
      -#   = link_to sessions_path, class: "" do
      -#     ログイン
      -# %li
      -#   = link_to registrations_path, class:"" do
      -#     新規会員登録
      - if user_signed_in?
        %li
          = link_to user_path(current_user), class: "header2__under--loginBtn" do
            マイページ
        %li
          = link_to destroy_user_session_path, method: :delete, class: "header2__under--newBtn" do
            ログアウト
      - else
        %li
          = link_to new_user_session_path, class: "header2__under--loginBtn" do
            ログイン
        %li
          = link_to new_user_registration_path, class: "header2__under--newBtn" do
            新規会員登録

