.header2
  .header2__main
    .header2__main--left
      = link_to image_tag("logo/logo.png",class: "logo"),'#'
    .header2__main--right
      %input.searchBox{:name => "key", :placeholder => "キーワードから探す"}/
      .header2__main--right__box
        = link_to image_tag("icon/icon-search 1.png",class: "icon"),'#'
  .header2__under
    = link_to "#", class: "header2__under--catBtn" do
      カテゴリ
    = link_to "#", class: "header2__under--bldBtn" do
      ブランド
    = link_to sessions_path, class: "header2__under--loginBtn" do
      ログイン
    = link_to registrations_path, class: "header2__under--newBtn" do
      新規会員登録
