.header2
  .header2__main
    .header2__main--left
      = link_to image_tag("logo/logo.png",class: "logo"),'#'
    .header2__main--right
      %input.searchBox{:name => "key", :placeholder => "キーワードから探す"}/
      .header2__main--right__box
        = link_to image_tag("icon/icon-search 1.png",class: "icon"),'#'
  .header2__under
    %ul.dropdwn
      %li.header2__under--catBtn
        カテゴリ
        %ul.dropdwn_menu
          - @category.each do |c|
            %li
              %div
                = link_to c.name, "#"
              %ul.dropdwn_menu_child
                - c.children.each do |ch|
                  %li
                    %div
                      = link_to ch.name, "#"

      %li.header2__under--bldBtn
        ブランド
        %ul.dropdwn_menu
          %li
            追記予定
      %li.header2__under--loginBtn
        = link_to sessions_path, class: "header2__under--loginBtn" do
          ログイン
      %li.header2__under--newBtn
        = link_to registrations_path, class: "header2__under--newBtn" do
          新規会員登録

