.header2
  .header2__main
    .header2__main--left
      = link_to image_tag("logo/logo.png",class: "logo"),'#'
    .header2__main--right
      %input.searchBox{:name => "key", :placeholder => "キーワードから探す"}/
      .header2__main--right__box
        = link_to image_tag("icon/icon-search 1.png",class: "icon"),'#'
  .header2__under
    %ul.dropdwn
      %li.header2__under--catBtn
        カテゴリ
        %ul
          - @category.each do |parent|
            %li
              = link_to parent.name, "#", class: "touch"
              %ul
                - parent.children.each do |child| 
                  %li
                    = link_to child.name, "#", class: "touch"
                    %ul
                      - child.children.each do |grandchild|
                        %li
                          = link_to grandchild.name, "#", class: "touch"
      %li.header2__under--bldBtn
        ブランド
      - if user_signed_in?
        %li.header2__under--loginBtn
          = link_to user_path(current_user), class: "" do
            マイページ
        %li.header2__under--newBtn
          = link_to destroy_user_registration_path, class:"" do
            ログアウト
      - else
        %li.header2__under--loginBtn
          = link_to new_user_session_path, class: "" do
            ログイン
        %li.header2__under--newBtn
          = link_to new_user_registration_path, class:"" do
            新規会員登録
