.products-detail
  .products-header
    .header-logo
      = image_tag src="/assets/logo.png", size: "185x49"
  .products-main
    .user-form
      .user-form__header
        購入内容の確認
      .picture
        .image
          = image_tag src="#{@product.images[0].image.url}", size:"30x30"
        .products
          .detail
            = @product.name
          .price
            %span.commission
              送料込み(税込)
            %span.fee
              = @product.price
      .pay-point
        .pay
          %span.amount
            支払金額
          %span.money
          = "#{@product.price}円"  
      .method
        .method-of-payment
          .method-of-payment__title
            = form_with url: product_sold_path(@product.id) do
              :plain
                <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_c5793331e39a6960b2f6a476"></script>
      .address
        .shopping-address
          .shopping-address__title
            %h3.shopping-address__paragraph 配送先
            = link_to "#" , class: "shopping-address__change" do
              変更する
          .shopping-address__text
            %p 〒000-0000
            %p 東京都港区芝公園
            %p 山本太郎
      .precautions
        .detail
          %p.detail__title
            郵便局/コンビニ受取をご希望の方は、購入後に
            %b.emphasis 取引画面
            から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
          -# %p.payment-completion
          -#   支払い方法の入力を完了してください。
          -# %button.purchase{"data-test": "transaction-buy-purchase", disabled: "", tabindex: "-1", type: "button"} 購入する
  .products-footer
    .products-footer__content
      %ul.products-footer__content__list
        %li
          = link_to "#", class: "products-footer__content__list__privacy" do
            プライバシーポリシー
        %li
          = link_to "#", class: "products-footer__content__list__terms" do
            利用規約
        %li
          = link_to "#", class: "products-footer__content__list__law" do
            特定商品取引に関する表記
    .products-footer__logo
      = link_to "#", class: "products-footer__logo__white" do
        = image_tag src="logo/logo-white.png", size: "185x49", class: "hooter__logo__white__image"
      %p.products-footer__logo__copymark
        © Frema,Inc.