
.login-header
  %h1
    %a.login-header__furima-logo__url(href="http//furima.tokyo/")
      = image_tag src="/assets/logo.png", size: "185x49"
    .login-header__process
      %ul.login-header__process__bar
        %li ログイン情報

.login-main
  .login-main__text
    .login-main__text__header ログイン情報入力画面
    .login-main__user-form
      .login-no-account
        %p アカウントをお持ちではない方はこちらへ
        %button.login-no-account__sign__in{:content => "text", :placeholder => "新規会員登録"}
          新規会員登録
      .nickname
        .nickname__label
          ニックネーム
          %span 必須
          %input.nickname1{:nickname => "key", :placeholder => "例)フリマjapan"}/
      .email
        .email__label
          メール
          %span 必須
          %input.email1{:email => "text", :placeholder => "PC/携帯どちらでも可"}/
      .password
        .password__label
          パスワード
          %span 必須
          %i (英数字8文字以上)
          %input.password__1{:password => "text", :autocomplete => "off"}/
      .password-check
        .password-check__label
          パスワード確認
          %span 必須
          %input.password__check__1{:password => "text", :autocomplete => "off"}/
      .login-button
        %button.login-button__sign__in{:content => "text", :placeholder => "ログイン"}
          ログイン
        .forget-password
          %p
            = link_to "#", class: "forget-password" do
              パスワードお忘れの方
.login-footer
  .login-footer__content
    %ul.login-footer__content__list
      %li
        = link_to "#", class: "hooter__content__list__privacy" do
          プライバシーポリシー
      %li
        = link_to "#", class: "hooter__content__list__terms" do
          利用規約
      %li
        = link_to "#", class: "hooter__content__list__law" do
          特定商品取引に関する表記
  .login-footer__logo
    = link_to "#", class: "hooter__logo__white" do
      = image_tag src="/assets/logo-white.png", size: "185x49", class: "hooter__logo__white__image"
    %p.login-footer__logo__copymark
      © Frema,Inc.
