
.products-detail
  .products-header
    .header-logo
      = image_tag src="/assets/logo.png", size: "185x49"
  .products-main
    .user-form
      .user-form__header
        購入ができました
      .precautions
        .detail
          = link_to items_path, class: "default-font" do
            戻る
  .products-footer
    .products-footer__content
      %ul.products-footer__content__list
        %li
          = link_to "#", class: "products-footer__content__list__privacy" do
            プライバシーポリシー
        %li
          = link_to "#", class: "products-footer__content__list__terms" do
            利用規約
        %li
          = link_to "#", class: "products-footer__content__list__law" do
            特定商品取引に関する表記
    .products-footer__logo
      = link_to "#", class: "products-footer__logo__white" do
        = image_tag src="logo/logo-white.png", size: "185x49", class: "hooter__logo__white__image"
      %p.products-footer__logo__copymark
        © Frema,Inc.