= render partial: 'items/header'
.attribute
  %ul.attribute__ul
    %li
      = link_to items_path do
        FURIMA
    %li
      %i.fa.fa-angle-right
    %li
      = link_to "#" do
        = @product.category.parent.parent.name
    %li
      %i.fa.fa-angle-right
    %li
      = link_to "#" do
        = @product.category.parent.name
    %li
      %i.fa.fa-angle-right
    %li
      = link_to "#" do
        = @product.category.name
    %li
      %i.fa.fa-angle-right
    %li
      %a 
        = @product.name

.product
  .product__main
    .product__main--name
      %p 
        = @product.name
    .product__main--image
      - if @product.images[0].image
        = image_tag "#{@product.images[0].image.url}", class:"image"
    .product__main--imagesub
      - if @product.images[1]
        .product__main--imagesub__2
          = image_tag "#{@product.images[1].image.url}", class:"subimage"
      - if @product.images[2]
        .product__main--imagesub__3
          = image_tag "#{@product.images[2].image.url}", class:"subimage"
    .product__main--price
      %p.total 
        = @product.price
      %p.tax
        = @product.shipping_charge.name
    .product__main--explanation
      %p ここに説明が入ります。 追加実装課題
    .product__main--catalog
      %table
        %tbody
          %tr
            %th.left 出品者
            %td.right 
              = @product.user.nickname
          %tr
            %th.left カテゴリー
            %td.right
              = link_to "#" , class: "link" do
                = @product.category.parent.parent.name
              %br/
              = link_to "#" , class: "link" do
                = @product.category.parent.name
              %br/
              = link_to "#" , class: "link" do
                = @product.category.name
          - if @bland
            %tr
              %th.left ブランド
              %td.right
                = link_to "#" , class: "link" do
                  = @brand.name
          %tr
            %th.left 商品の状態
            %td.right
              = @product.quality.name
          %tr
            %th.left 配送料の負担
            %td.right
              = @product.shipping_charge.name
          %tr
            %th.left 発送元の地域
            %td.right
              = link_to "#" , class: "link" do
                = @product.area.name
          %tr
            %th.left 発送日の目安
            %td.right
              = @product.delivery_date.name
    .product__main--under
      .product__main--under__left
        = link_to "#" , class: "left" do
          %i.fa.fa-star お気に入り(追加実装課題）
      .product__main--under__right
        = link_to "#" , class: "right" do
          %i.fa.fa-flag 不適切な商品の通報
    
  .product__comment
    .product__comment--form
      %textarea.text
    
    .product__comment--explanation
      %p.top 相手のことを考え丁寧なコメントを心がけましょう。
      %p.buttom 不快な言葉遣いなどは利用制限や退会処分となることがあります。
    
    .product__comment--btn
      %button.btn
        = link_to purchase_path do
          %i.fa.fa-comment コメントする
      - if @product.user == current_user
        %button.btn
          = link_to edit_user_product_path(current_user) do
            %i.fa.fa-comment 編集する
        %button.btn
          = link_to user_product_path(current_user), method: :delete do
            %i.fa.fa-comment 削除する
      - else
        %button.btn
          = link_to purchase_path do
            %i.fa.fa-comment 購入する

  .product__number
    .product__number--left
      = link_to "#" , class: "left" do
        %p.left < 前の商品
    .product__number--right
      = link_to "#" , class: "right" do
        %p.right 後ろの商品 >

  .product__more
    = link_to "#" , class: "more" do
      %p ベビー・キッズをもっと見る

  .product__example
    .picup__top--contents__no2
      .picup__top--contents__no2--top
        = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", class:"image"
        .picup__top--contents__no2--under
          %p.name product3
          %p.price 30000円
          %p.tax (税込)
          %p.good ★０
    
    




= render partial: 'items/fotter'